@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css");
/*font-family: 'Noto Sans TC', sans-serif;*/
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap");
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

*{
    list-style: none;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body,html{
    width: 100%;
    min-width: 1200px;
    height: 100vh;
    overflow: hidden;
}

.wrap{
    width: 100%;
    height: 100%;
    /* CSS Smooth Scroll */
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

.header{
    display: flex;
    width: 100%;
    min-width: 1200px;
    height: 50px;
    background-color:rgba(78, 78, 78, 0.9);
    position: fixed; 
}

.header .logo{
    width: 15%;
    height: 50px;
}
/*
.header .logo img{
    width: 100%;
    margin-left: 100px; 
    box-sizing: border-box;
    // background-color: #a00; 
    vertical-align: middle;
}
*/
.header .header-nav{
    width: 70%;
    display: flex;
    justify-content: center;
}

.header .header-nav a{
    position: relative;
    height: 50px;
    line-height: 50px;
    display: inline-block;
    text-decoration: none;
    color:rgba(255, 160, 122);
    font-size: 24px;
    padding: 0px 15px;
    font-family: 'Noto Sans TC', sans-serif;
    transition: .25s;
    transform: translateY(0px);
}

.header .header-nav a::after{
    content: '';
    position: absolute;
    border-bottom: 1px  solid #79f7db;
    left: 50%;
    right: 50%;
    height: 0;
    bottom: 10%;
    transition: .3s;
}

.header .header-nav a:hover::after{
    left: 0;
    right: 0;
}

.header .header-nav a:hover{
    color: #79f7db;
    transform: translateY(-5px);
}

.header .header-search{
    display: flex;  
    align-self: center;
    width: 15%;
    height: 2rem;
    /* background-color: #aa0;  */
}

.header-search input,.header-search button{
    border: none;
    font-size: .9rem;
    background-color:rgba(255, 255, 255, 0.548);
    padding: 0 8px ;
}

.header-search input,.header-search button:focus{
    outline: none;   
}

.header-search input{
    width: 80%;
    font-family: 'Noto Sans TC', sans-serif;
    border-radius: 100px 0px 0px 100px;
}

.header-search button{
    width: 15%;
    border-radius: 0px 100px 100px 0px;
}

.banner{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    height: 100vh;
    min-width: 1200px;
    /* max-width: 100%; */
    overflow: hidden;
    background: 
        linear-gradient(125deg,#ffffff 25%,transparent 80%) left center
        ,
        url("https://images.pexels.com/photos/317356/pexels-photo-317356.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=1080&w=1980") right center
        ;
    background-size: cover;
}

.banner .txt{
    display: flex;
    flex-direction: column;
    padding: 50px;
}

.banner .txt h1{
    font-size: 72px;
    color: #66cdaa;
    border-bottom: 2px solid #66cdaa;
    margin-bottom: 20px;
}

.banner .txt p{
    font-size: 24px;
    color: #696969;
    font-family: 'Noto Sans TC', sans-serif;
    font-style: italic;
    padding-bottom: 10px;
}

.banner .txt p:last-child{
    padding-left: 6em;
}

.container{
    width: 100%;
    min-width: 1200px;
    max-width: 100%; 
    height: 100vh;
    display: flex;
    flex-direction: column;
    
    /*Scroll Snap*/
    scroll-snap-align: center;
    scrollbar-base-color: #a00;
    scroll-snap-stop: always;
}

.container h2{
    font-size: 2rem;
    font-family: 'Noto Sans TC', sans-serif;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 100px auto 0;
    color: #66cdaa;
    position: relative;
    
}

.container h2::before{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: -11em;
    margin: auto;
    width: 10em;
    height: 3px;
    background-color:  #66cdaa;
}

.container h2::after{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: -11em;
    margin: auto;
    width: 10em;
    height: 3px;
    background-color: #66cdaa;
}

.talent-skills{
    background: url("https://images.pexels.com/photos/876467/pexels-photo-876467.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=1080&w=1980");
    background-size: cover;
}

.talent-item-wrap{
    display: flex;
    justify-content: space-between; 
    width: 75%;
    margin: auto;
    padding-top: 80px;
}

.talent-items{
    width: 30%;
    background-color: rgba(255, 255, 255, 1);
    text-align: center;
    border: solid 10px #E4C1AE;
    border-radius: 15px;
}

.talent-items .talent-icon{
    width: 150px;
    height: 150px;
    background-color: rgba(255, 255, 255,1);
    margin: -80px auto 0px;
    border-radius: 50%;
    line-height: 150px;
    font-size: 80px;
    color: #E4C1AE;
    position: relative;
}

.talent-items .talent-icon::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border: solid 10px #E4C1AE;
    left: -10px;
    top: -10px;
    border-radius: 50%;
    border-bottom: 10px solid transparent;
    border-left: 10px solid transparent;
    transform: rotate(-45deg);
}

.talent-items:hover .fa{
    animation-name: talent-icons-shake-shake;
    animation-duration: .2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes talent-icons-shake-shake{
    0%{transform: rotate(10deg);}
    100%{transform: rotate(-10deg)}
}

.talent-items h3{
    font-size: 36px;
    font-weight: 300;
    color: #E4C1AE;
    margin-bottom: .4em;
    font-family: 'Noto Sans TC', sans-serif;
}

.talent-items p{
    font-size: 16px;
    color: #363636;
    line-height: 1.6;
    padding: 2em;
    font-family: 'Noto Sans TC', sans-serif;
}

.recent-activity{
    background:url("https://images.pexels.com/photos/743986/pexels-photo-743986.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=1080&w=1980");
    background-size: contain;
}

.activity-wrap{
    width: 80%;
    height: 50%;
    display: flex;
    margin: auto;
}

.activity-items{
    display: flex;
    justify-content: center;
    margin: 0 30px;
    width: 50%;
    height: 100%;
    border: #66cdaa 5px solid;
    background-color: #66cdaa;
    border-radius: 20px;
}

.activity-items .pic{
    width: 60%;
}

.activity-items .pic img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.activity-items .txt{
    width: 40%;
    padding: 10px;
    text-align: left;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    color: #fff;
}

.activity-items .txt h3{
    font-size: 28px;
    font-weight: 200;
    margin-bottom: .6em;
    font-family: 'Noto Sans TC', sans-serif;
}

.activity-items .txt p{
    font-size: 16px;
    line-height: 1.4em;
    color: #696969;
    font-family: 'Noto Sans TC', sans-serif;
}

.activity-items .activity-btn{
    display: flex;
    margin-bottom: .5em;
    text-decoration: none;
    border: 2px solid #fff;
    height: 1.5em;
    line-height: 1.5em;
    vertical-align: middles;
    align-self: flex-end;
    padding: 0 1em;
    border-radius: 200px;
    transition: .15s;
    color: #fff;
    font-size: 20px;
    transform: translateX(-.5em);
}

.activity-items .activity-btn:hover{
    background-color: #fff;
    border: 2px solid #fff;
    color: #66cdaa;
}

.elite-lecturer{
    background: url("https://images.pexels.com/photos/3350123/pexels-photo-3350123.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=1080&w=1980");
    background-size: cover;
}

.lecturer-wrap{
    width: 75%;
    display: flex;
    margin: auto;
    justify-content: space-around;
}

.lecturer-wrap .lecturer-item{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lecturer-item .pic{
    margin: 15px 0px;
    width: 300px;
    height: 300px;
    max-width: 500px;
}

.lecturer-item .pic img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
    border-radius: 50%; 
}

.lecturer-item .txt{
    text-align: center;
}

.lecturer-item .txt h3{
    font-size: 36px;
    color: #3f3cfd;
    padding-bottom: .5em;
}

.lecturer-item .txt p{
    width: 75%;
    margin: auto;
    color: #ffffff;
}

.member{
    /*
    background: url("https://images.pexels.com/photos/1103970/pexels-photo-1103970.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
    background-size: cover;
    */
    background-color: #2C3E50;
    display: flex;
    align-self: center;
    width: 100%;
    height: 100vh;
}

.login{
    width: 30%;
    height: 75%;
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    background-color:rgba(0, 0, 0, 0.479);
    border-radius: 1rem;
}

.login .login-form{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    /*align-items: center;*/
    padding: 1rem;
}


.login .user-image i{
    color: #80ff00;
    align-self: flex-start;
    margin: 8rem 0 5rem 0 ;
    position: relative;
}
    
/*
帳號密碼輸入時的動作特效
*/
.login .login-form label{
    display: block;
    height: 1.5rem;
    font-size: 1.5rem;
    position: relative;
    top: -2.3rem;
    left: 1.5rem;
    color: #fff;
    transition: ease-out 0.25s;
    
}

.login .login-form i{
    position: relative;
    color: #FFF;
    top: -3.5rem;
    left: 0rem;
}

.login .login-form input:focus + label {
    position: relative;
    font-size: 1rem;
    top: -4rem;
    left: 0rem;
    color: #80ff00;
}


.login .login-form input:not(:placeholder-shown) + label{
    position: relative;
    font-size: 1rem;
    top: -4rem;
    left: 0rem;
    color: #80ff00;
}

.login .login-form input:focus{
    outline: none;
}

.login .login-form input[type=text],input[type=password]{
    position: relative;
    width: 100%;
    padding:  6px 5rem 6px 1.5rem;
    margin: .5rem 0;
    display: inline-block;
    /*border: 1px solid #ccc;*/
    box-sizing: border-box;
    font-size: 1rem;
    border: none;
    border-bottom: 1px solid #fff;
    background-color: rgba(255, 255, 255, 0.0);
    z-index: 1;
    color: #fff;
}

.login-form .button-container{
    display: flex;
    justify-content: space-between;
    margin: 3rem 0;
}


.login-form button{
    display: flex;
    width: 40%;
    height: 2.5rem;
    border-radius: 12px;
    font-size: 2rem;
    justify-content: center;
    border: none;
    cursor: pointer;
}

.login-form #sign-in-button{
    background-color:rgba(255, 255, 255, 0);
    color: #80ff00;
    border: 1px solid #80ff00;
}

.login-form #sign-in-button:hover{
    background-color:#80ff00;
    color: rgb(86, 5, 179);
    transition: ease-out .25s;
}

.login-form #sign-up-button{
    background-color: #f00;
    border: 1.5px solid #f00;
    color: #fff;
}

.login-form #sign-up-button:hover{
    background-color: rgba(0, 0, 0, .8);
    color: rgb(255, 0, 0);
    transition: ease-out .25s;
}

.member .footer-copyright{
    display: flex;
    justify-content: center;
    align-self: flex-end;
    width: 100%;

    background-color: rgb(99, 99, 99);
    text-align: center;
    font-size: 18px;
    padding: 5px 0px;
    color: rgba(255, 160, 122);
}